<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h2>Dojo Message Bored</h2>
<% for(var i=0;i<errors.length;i++){ %>
	<p><%= errors[i] %></p>
<% } %>
<form action="/messages" method="POST">
	<p>Name: <input type="text" name="name"></p>
	<p>Message: <input type="text" name="message"></p>
	<input type="submit" name="">
</form>
<% for(var i=0;i<messages.length;i++){ %>
<fieldset>
	<h3>Name: <%= messages[i].name %></h3>
	<h3>Message: <%= messages[i].message %></h3>
	<fieldset>
		<h4>List of comments:</h4>
		<% for(var j=0;j<messages[i].comments.length;j++){ %>
			<h5>Name: <%= messages[i].comments[j].name %></h5>
			<h5>Message: <%= messages[i].comments[j].comment %></h5>
		<% } %>
		<h4>Add a comment: </h4>
		<form action="/messages/<%= messages[i]._id %>/comments" method="POST">
			<p>Name: <input type="text" name="name"></p>
			<p>Comment: <input type="text" name="comment"></p>
			<input type="submit" name="">
		</form>
	</fieldset>
</fieldset>
<% } %>
</body>
</html>